<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Flaggy App</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="static/stylesheets/base.css">
	<link rel="stylesheet" href="static/stylesheets/skeleton.css">
	<link rel="stylesheet" href="static/stylesheets/layout.css">

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

	<link href="http://cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
</head>
<body>
	<!-- Primary Page Layout
	================================================== -->

	<!-- Delete everything in this .container and get started on your own site! -->
	<div class="bg" id="bg"></div>
    <div class="backgroundcolor"></div>
	<div class="container">
		<div class="twelve columns clearfix offset-by-two soon" id="content">
			<div class="modal">
				<img width="300px" src="static/images/flaggy.png" class="flaggy">
				<br />
				<h2>{{ message }}</h2>
<!--End mc_embed_signup-->
			</div>
		</div>
	</div><!-- container -->
<!-- End Document
================================================== -->
</body>
<script type="text/javascript">
    var randomnumber=Math.floor(Math.random()*4) + 1;
    console.log(randomnumber);
	document.getElementById('bg').style.backgroundImage = "url(static/images/map" + randomnumber + ".png)";
</script>
</html>
